In [1]:
import pandas as pd 
import numpy as np 
import os 




wd = os.getcwd()
print(wd)

##Â Github with answers: https://github.com/JifuZhao/DS-Take-Home/blob/master/01.%20Conversion%20Rate.ipynb

/Users/annadudek/00_DataMasked

In [7]:
data_raw=pd.read_csv("https://drive.google.com/uc?export=download&id=1KvxyyF3QCtvIx0J7_8iWDEtFQpLgd0Yq")
data_raw.head()


spotify_data=pd.DataFrame(columns = ['position', 'trackname', 'artist', 'streams', 'url', 'date'])
spotify_data

Empty DataFrame
Columns: [position, trackname, artist, streams, url, date]
Index: []

In [13]:
data_raw.head()x

  country  age  new_user source  total_pages_visited  converted
0      UK   25         1    Ads                    1          0
1      US   23         1    Seo                    5          0
2      US   28         1    Seo                    4          0
3   China   39         1    Seo                    5          0
4      US   30         1    Seo                    6          0

In [38]:
table1=pd.DataFrame(data_raw.groupby('country')['total_pages_visited'].agg(['mean',
                    'count'])).sort_values('count', ascending=False)

table1['pct_of_total']=table1['count']/table1['count'].sum()

In [44]:
numbers = [1,2,3,4]
for n in numbers: 
    print(f"n = {n} and n+5 = {n+5}")

n = 1 and n+5 = 6
n = 2 and n+5 = 7
n = 3 and n+5 = 8
n = 4 and n+5 = 9

In [61]:
## iloc for rows 

table1.iloc[0]  # first row of dataframe 
table1.iloc[0:5] # first five rows of dataframe

table1.iloc[:,0] # first column of data frame (first_name)

table1.loc['US']

mean                 4.930160
count           178092.000000
pct_of_total         0.563226
Name: US, dtype: float64

In [62]:
# s.str.contains("d")
data = pd.Series(['apple','banana','apple', 'banana'])
data.str.replace('apple', 'orange')

0    orange
1    banana
2    orange
3    banana
dtype: object

In [ ]:
pd.to_datetime

In [76]:
import numpy as np 

numbers = range(1,100)
type(numbers)

for n in numbers: 
    if (n/3).is_integer() and (n/5).is_integer():
        print('fixbuzz')
    elif (n/3).is_integer():
        print('buzz')
    elif (n/5).is_integer():
        print('fizz')   
    else: print(n)

1
2
buzz
4
fizz
buzz
7
8
buzz
fizz
11
buzz
13
14
fixbuzz
16
17
buzz
19
fizz
buzz
22
23
buzz
fizz
26
buzz
28
29
fixbuzz
31
32
buzz
34
fizz
buzz
37
38
buzz
fizz
41
buzz
43
44
fixbuzz
46
47
buzz
49
fizz
buzz
52
53
buzz
fizz
56
buzz
58
59
fixbuzz
61
62
buzz
64
fizz
buzz
67
68
buzz
fizz
71
buzz
73
74
fixbuzz
76
77
buzz
79
fizz
buzz
82
83
buzz
fizz
86
buzz
88
89
fixbuzz
91
92
buzz
94
fizz
buzz
97
98
buzz